<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/properties.css" />
    <link rel="stylesheet" href="../stylesheets/footer.css" />
  </head>
  <body>
    <div class="main">
      <div class="header_section pt-4">
        <!-- <h1>Jannat 100% PetFriendly Pool villa with LakeView</h1> -->
        <div class="sub_header_section">
          <div class="part1">
            <h3><i class="ri-star-fill"></i> 5.0</h3>
            <h3><%= property.propertyAddress %></h3>
          </div>
          <div class="part2">
            <h3><i class="ri-heart-fill"></i> Save</h3>
          </div>
        </div>
      </div>
      <div class="mid_img_section mt-3 mb-3">
        <img
          src="../images/uploads/productImages/<%= property.pics[0] %>"
          alt=""
        />
      </div>
      <div class="content">
        <div class="left_section">
          <div class="metaRent">
            <h3><%= property.propertyAddress %></h3>
            <div class="left_sub_content">
              <div class="rent">
                <h1>₹ <%= property.price %> </h1>
                <h4>Monthly Rent</h4>
              </div>
              <div class="bed text-center">
                <h1><%= property.bedrooms %></h1>
                <h4>Bedrooms</h4>
              </div>
              <div class="baths text-center">
                <h1><%= property.floor %></h1>
                <h4>Floor</h4>
              </div>
            </div>
          </div>

          <!-- <div class="btnns"> -->
          <div
            onclick='window.location = "mailto: <%= property.ownerId.username %> "'
            class="btnn btn"
            id="btnn1"
          >
            <h3 class="d-flex flex-nowrap p-0 m-0"
              ><i class="ri-mail-fill"></i> <span>Contact to landlord</span></h3
            >
          </div>
          <div class="btnn" id="btnn2">
            <h3><i class="ri-file-text-fill"></i> Request to apply</h3>
          </div>
          <!-- </div> -->

          <div class="line"></div>

          <div class="content_part2">
            <div class="content_part2_1">
              <div class="icons">
                <h3><img src="/wifi - Copy.png" alt="" /></h3>
              </div>
              <div class="content_part2_12">
                <h2>Dedicated workspace</h2>
                <h3>A common area with wifi that's well suited for working</h3>
              </div>
            </div>
            <div class="content_part2_1">
              <div class="icons">
                <h3><img src="/slef.png" alt="" /></h3>
              </div>
              <div class="content_part2_12">
                <h2>Self Check-in</h2>
                <h3>You can check in with the dooorperson</h3>
              </div>
            </div>
            <div class="content_part2_1">
              <div class="icons">
                <h3><img src="/hosts.png" alt="" /></h3>
              </div>
              <div class="content_part2_12">
                <h2>Shreya is a SuperHost</h2>
                <h3>
                  Superhost are experienced,highly rated hosts who are committed
                  to providing great stays for their guests.
                </h3>
              </div>
            </div>
          </div>

          <div class="line"></div>
          <div class="content_part4 pb-3">
            <h3 class="my-3">What this place offers</h3>
            <div class="subcontent4">
              <% property.addOnAmenities.forEach(amen=>{ %>

              <div
                class="offered_place d-flex justify-content-center align-content-center"
              >
                <i class="ri-star-fill"></i>
                <h2><%= amen %></h2>
              </div>
              <% }) %>
            </div>
          </div>

          <div class="line"></div>

          <!-- ......................................... -->

          <div class="content_part3 mb-5">
            <div class="heading1">
              <div class="heading_left">
                <p style="font-weight: 200; font-size: 1.6rem"
                  >Where you'll sleep</p
                >
              </div>
            </div>

            <div class="image_slider">
              <!-- Swiper -->
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <% property.pics.forEach((img,index)=>{ if(index !=
                  property.pics.length ){ %>
                  <div class="swiper-slide">
                    <img
                      src="../images/uploads/productImages/<%= property.pics[index] %>"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                  <% } }) %>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <h4>Bedroom</h4>
            <h5>1 bunk Bed</h5>
          </div>

          <div class="line"></div>
          <section>
            <h2>Location on map</h2>
            <div id="map"></div>
          </section>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <!-- Footer here -->
    <%- include('./components/footer.ejs') %>
    <!-- Footer here -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    <script>
      // This Code is HandWritten By Aayush Chouhan {After Learning Tha ChatGPT is just for help it cant code for real}
      const mbUrl =
        "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw";
      const streets = L.tileLayer(mbUrl, {
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
      });
      const satellite = L.tileLayer(mbUrl, {
        id: "mapbox/satellite-v9",
        tileSize: 512,
        zoomOffset: -1,
        maxZoom: 17,
      });
      const buldings = L.layerGroup();
      const houses = L.layerGroup();
      const map = L.map("map", {
        attributionControl: false,
        center: [23.197572, 77.456996],
        zoom: 13,
        layers: [streets, buldings],
      });

      const baseLayers = {
        Streets: streets,
        Satellite: satellite,
      };

      var bulding = [
        {
          lat: parseFloat("<%= property.latitudeAndLongitude.lat %>"),
          lon: parseFloat("<%= property.latitudeAndLongitude.lng %>"),
          name: "<%= property.title %>",
          info: "This is a beautiful property of Ankur.",
        },
      ];

      bulding.forEach((b) => {
        const marker = L.marker([b.lat, b.lon], {
          icon: L.divIcon({
            className: "bulding",
          }),
        })
          .bindPopup("<b>" + b.name + "</b><br>" + b.info)
          .addTo(buldings);
      });

      var house = [
        // {
        //   lat: 23.202038,
        //   lon: 77.453688,
        //   name: "Techno Ka Gharg",
        //   info: "16 tb ram and 128pb storage",
        // },
        // {
        //   lat: 23.198433,
        //   lon: 77.443759,
        //   name: "Rehbar ka zGhar",
        //   info: "3bhk with balconey an swiming pool",
        // },
        // {
        //   lat: 23.192296,
        //   lon: 77.443638,
        //   name: "New York Property",
        //   info: "Just Dreaming New York.",
        // },
      ];

      house.forEach((h) => {
        const marker = L.marker([h.lat, h.lon], {
          icon: L.divIcon({
            className: "house",
          }),
        })
          .bindPopup("<b>" + h.name + "</b><br>" + h.info)
          .addTo(houses);
      });

      const overlays = {
        Buldings: buldings,
        Houses: houses,
      };

      const layerControl = L.control.layers(baseLayers, overlays).addTo(map);

      // Method 2 of adding
      // const crownHill = L.marker([39.75, -105.09]).bindPopup('This is Crown Hill Park.');
      // const rubyHill = L.marker([39.68, -105.00]).bindPopup('This is Ruby Hill Park.');
      // const parks = L.layerGroup([crownHill, rubyHill]);

      // layerControl.addOverlay(parks, 'Parks');
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
      integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"
      integrity="sha512-v8B8T8l8JiiJRGomPd2k+bPS98RWBLGChFMJbK1hmHiDHYq0EjdQl20LyWeIs+MGRLTWBycJGEGAjKkEtd7w5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../javascripts/property.js"></script>
  </body>
</html>
