<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/property.css" />
    <link rel="stylesheet" href="../stylesheets/moreCategorySection.css" />
    <style>
      .range_container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
      }

      .sliders_control {
        position: relative;
        min-height: 50px;
      }

      .form_control {
        position: relative;
        display: flex;
        justify-content: space-between;
        color: #635a5a;
      }
      .form_control_container_time_input {
        border: none;
        outline: none;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #c6c6c6;
        cursor: pointer;
      }

      input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #c6c6c6;
        cursor: pointer;
      }

      input[type="range"]::-webkit-slider-thumb:hover {
        background: #f7f7f7;
      }

      input[type="range"]::-webkit-slider-thumb:active {
        box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
        -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
      }

      input[type="number"] {
        color: #8a8383;
        width: 50px;
        height: 30px;
        font-size: 20px;
        border: none;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        opacity: 1;
      }

      input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: #c6c6c6;
        pointer-events: none;
      }

      #fromSlider {
        height: 0;
        z-index: 1;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel"
                >Filter Your Suitable property</h1
              >
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form action="/properties" method="post">
              <div class="modal-body">
                <div class="range_container mt-5">
                  <div class="sliders_control">
                    <input
                      id="fromSlider"
                      type="range"
                      value="1400"
                      min="0"
                      max="30000"
                    />
                    <input
                      id="toSlider"
                      type="range"
                      value="2540"
                      min="0"
                      max="30000"
                    />
                  </div>
                  <div class="form_control">
                    <div class="form_control_container">
                      <div class="form_control_container__time"
                        ><small>Min</small></div
                      >
                      <div
                        class="d-flex justify-content-center align-items-center"
                      >
                        <small>₹</small>
                        <input
                          class="form_control_container_time_input"
                          type="text"
                          id="fromInput"
                          value="1400"
                          min="0"
                          max="30000"
                          name="minPrice"
                        />
                      </div>
                    </div>
                    <div class="form_control_container">
                      <div class="form_control_container__time"
                        ><small>Max</small></div
                      >
                      <div
                        class="d-flex justify-content-center align-items-center"
                      >
                        <small>₹</small>
                        <input
                          class="form_control_container_time_input"
                          type="text"
                          id="toInput"
                          value="2540"
                          min="0"
                          max="30000"
                          name="maxPrice"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <h2 class="heading">Property Type</h2>
                <div class="property-cnt">
                  <div class="radioWrapper">
                    <label for="t1"
                      ><button class="house-btn">
                        <div class="house-div">
                          <img
                            src="https://a0.muscache.com/pictures/4d7580e1-4ab2-4d26-a3d6-97f9555ba8f9.jpg"
                            alt=""
                          />
                          <h5>House</h5>
                        </div>
                      </button></label
                    >
                    <input
                      style="display: none"
                      type="radio"
                      value="house"
                      id="t1"
                      name="proprtyType"
                    />
                  </div>
                  <div class="radioWrapper">
                    <label for="t2"
                      ><button class="house-btn">
                        <div class="house-div">
                          <img
                            src="https://a0.muscache.com/pictures/21cfc7c9-5457-494d-9779-7b0c21d81a25.jpg"
                            alt=""
                          />
                          <h5>Flat</h5>
                        </div>
                      </button></label
                    >
                    <input
                      style="display: none"
                      type="radio"
                      value="flat"
                      id="t2"
                      name="proprtyType"
                    />
                  </div>
                  <div class="radioWrapper">
                    <label for="t3"
                      ><button class="house-btn">
                        <div class="house-div">
                          <img
                            src="https://a0.muscache.com/pictures/4d7580e1-4ab2-4d26-a3d6-97f9555ba8f9.jpg"
                            alt=""
                          />
                          <h5>PG</h5>
                        </div>
                      </button></label
                    >
                    <input
                      style="display: none"
                      type="radio"
                      value="pg"
                      id="t3"
                      name="proprtyType"
                    />
                  </div>
                  <div class="radioWrapper">
                    <label for="t4"
                      ><button class="house-btn">
                        <div class="house-div">
                          <img
                            src="https://a0.muscache.com/pictures/6f261426-2e47-4c91-8b1a-7a847da2b21b.jpg"
                            alt=""
                          />
                          <h5>Guest-house</h5>
                        </div>
                      </button></label
                    >
                    <input
                      style="display: none"
                      type="radio"
                      value="Guest-House"
                      id="t4"
                      name="proprtyType"
                    />
                  </div>
                </div>
                <hr />
                <div class="rooms-bed">
                  <div class="mb-2">
                    <h5 class="form-label">BedRooms</h5>
                    <div class="btn-cnt">
                      <div class="radioWrapper">
                        <label for="brr8"
                          ><button class="any no">any</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          value="any"
                          id="brr8"
                          name="bedrooms"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="brr1"
                          ><button class="any no">1</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="bedrooms"
                          value="1"
                          id="brr1"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="brr2"
                          ><button class="any no">2</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="bedrooms"
                          value="2"
                          id="brr2"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="brr3"
                          ><button class="any no">3</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="bedrooms"
                          id="brr3"
                          value="3"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="brr4"
                          ><button class="any no">4</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="bedrooms"
                          value="4"
                          id="brr4"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="brr5"
                          ><button class="any no">5</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="bedrooms"
                          value="5"
                          value="6"
                          id="brr5"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="brr6"
                          ><button class="any no">6</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="bedrooms"
                          id="brr6"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="brr7"
                          ><button class="any no">7+</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="bedrooms"
                          id="brr7"
                          value="7"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="mb-2">
                    <h5 class="form-label">Beds</h5>
                    <div class="btn-cnt">
                      <div class="radioWrapper">
                        <label for="br1"
                          ><button class="any no">any</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="beds"
                          id="br1"
                          value="any"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="br2"
                          ><button class="any no">1</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="beds"
                          id="br2"
                          value="1"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="br3"
                          ><button class="any no">2</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="beds"
                          id="br3"
                          value="2"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="br4"
                          ><button class="any no">3</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="beds"
                          id="br4"
                          value="3"
                        />
                      </div>

                      <div class="radioWrapper">
                        <label for="br5"
                          ><button class="any no">4</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="beds"
                          id="br5"
                          value="4"
                        />
                      </div>

                      <div class="radioWrapper">
                        <label for="br6"
                          ><button class="any no">5</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="beds"
                          id="br6"
                          value="5"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="br7"
                          ><button class="any no">6</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="beds"
                          id="br7"
                          value="6"
                        />
                      </div>
                      <div class="radioWrapper">
                        <label for="br8"
                          ><button class="any no">7+</button></label
                        >
                        <input
                          style="display: none"
                          type="radio"
                          name="beds"
                          id="br8"
                          value="7"
                        />
                      </div>
                    </div>
                  </div>
                  <small>Floor</small>
                  <div class="btn-cnt">
                    <div class="radioWrapper">
                      <label for="bfr1"
                        ><button class="any no">any</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        name="floor"
                        id="bfr1"
                        value="any"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="bfr2"
                        ><button class="any no">1</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        name="floor"
                        id="bfr2"
                        value="1"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="bfr3"
                        ><button class="any no">2</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        name="floor"
                        id="bfr3"
                        value="2"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="bfr4"
                        ><button class="any no">3</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        name="floor"
                        id="bfr4"
                        value="3"
                      />
                    </div>

                    <div class="radioWrapper">
                      <label for="bfr5"
                        ><button class="any no">4</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        name="floor"
                        id="bfr5"
                        value="4"
                      />
                    </div>

                    <div class="radioWrapper">
                      <label for="bfr6"
                        ><button class="any no">5</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        name="floor"
                        id="bfr6"
                        value="5"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="bfr7"
                        ><button class="any no">6</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        name="floor"
                        id="bfr7"
                        value="6"
                      />
                    </div>
                    <div class="radioWrapper">
                      <label for="bfr8"
                        ><button class="any no">7+</button></label
                      >
                      <input
                        style="display: none"
                        type="radio"
                        name="floor"
                        id="bfr8"
                        value="7"
                      />
                    </div>
                  </div>
                </div>
                <hr />
                <h2 class="heading">Ammenities</h2>
                <div class="ammenities">
                  <div class="mb-2 checkBoxWrapper">
                    <input
                      style="display: none"
                      type="checkbox"
                      id="wifi"
                      name="ammenities"
                      value="Wifi"
                    />
                    <label for="wifi">
                      <span class="box">
                        <span class="check">
                          <i class="ri-check-line"></i>
                        </span>
                      </span>
                      Wifi</label
                    >
                  </div>
                  <div class="mb-2 checkBoxWrapper">
                    <input
                      style="display: none"
                      type="checkbox"
                      id="kitchen"
                      name="ammenities"
                      value="kitchen"
                    />
                    <label for="kitchen">
                      <span class="box">
                        <span class="check">
                          <i class="ri-check-line"></i>
                        </span>
                      </span>
                      Kitchen</label
                    >
                  </div>
                  <div class="mb-2 checkBoxWrapper">
                    <input
                      style="display: none"
                      type="checkbox"
                      id="wm"
                      name="ammenities"
                      value="Washing Machine"
                    />
                    <label for="wm">
                      <span class="box">
                        <span class="check">
                          <i class="ri-check-line"></i>
                        </span>
                      </span>
                      Washing Machine</label
                    >
                  </div>
                  <div class="mb-2 checkBoxWrapper">
                    <input
                      style="display: none"
                      type="checkbox"
                      id="parking"
                      name="ammenities"
                      value="parking"
                    />
                    <label for="parking">
                      <span class="box">
                        <span class="check">
                          <i class="ri-check-line"></i>
                        </span>
                      </span>
                      Parking</label
                    >
                  </div>
                  <div class="mb-2 checkBoxWrapper">
                    <input
                      style="display: none"
                      type="checkbox"
                      id="ac"
                      name="ammenities"
                      value="Air Conditioner"
                    />
                    <label for="ac">
                      <span class="box">
                        <span class="check">
                          <i class="ri-check-line"></i>
                        </span>
                      </span>
                      Air Conditioner</label
                    >
                  </div>
                  <div class="mb-2 checkBoxWrapper">
                    <input
                      style="display: none"
                      type="checkbox"
                      id="dw"
                      name="ammenities"
                      value="Dedicated Workspace"
                    />
                    <label for="dw">
                      <span class="box">
                        <span class="check">
                          <i class="ri-check-line"></i>
                        </span>
                      </span>
                      Dedicated Workspace</label
                    >
                  </div>
                </div>
                <hr />
                <div class="prpty-access">
                  <div class="mb-2 checkBoxWrapper">
                    <label class="form-label" for="accessibility"
                      >Property Accessible for Specially-abled
                      <span class="box">
                        <span class="check">
                          <i class="ri-check-line"></i>
                        </span> </span
                    ></label>
                    <input
                      style="display: none"
                      type="checkbox"
                      id="accessibility"
                      name="accessibility"
                      value="true"
                    />
                  </div>
                </div>
                <hr />
                <div class="furnished">
                  <label class="form-label">Furnished Type</label>
                  <div class="radioWrapper">
                    <label for="fur1"
                      ><button class="any no">Fully Furnished</button></label
                    >
                    <input
                      style="display: none"
                      type="radio"
                      value="Fully Furnished"
                      id="fur1"
                      name="furnished"
                    />
                  </div>
                  <div class="radioWrapper">
                    <label for="fur2"
                      ><button class="any no">Semi Furnished</button></label
                    >
                    <input
                      style="display: none"
                      type="radio"
                      value="Semi Furnished"
                      id="fur2"
                      name="furnished"
                    />
                  </div>
                  <div class="radioWrapper">
                    <label for="fur3"
                      ><button class="any no">Non Furnished</button></label
                    >
                    <input
                      style="display: none"
                      type="radio"
                      value="Non Furnished"
                      id="fur3"
                      name="furnished"
                    />
                  </div>
                </div>
              </div>
              <div class="modal-footer mf justify-content-end">
                <button type="submit" class="btn btn-dark col-12">
                  Filter
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <section class="moreCategorySection">
      <div class="category my-3 mb-4 d-flex border-bottom">
        <div class="left px-3">
          <div class="imgCover d-flex flex-column align-items-center">
            <img
              src="../images/category/3b1eb541-46d9-4bef-abc4-c37d77e3c21b.jpg"
              alt=""
              srcset=""
            />
            <small>Amazing views</small>
          </div>
          <div class="imgCover d-flex flex-column align-items-center">
            <img
              src="../images/category/3fb523a0-b622-4368-8142-b5e03df7549b.jpg"
              alt=""
              srcset=""
            />
            <small>Amazing pools</small>
          </div>
          <div class="imgCover d-flex flex-column align-items-center">
            <img
              src="../images/category/677a041d-7264-4c45-bb72-52bff21eb6e8.jpg"
              alt=""
              srcset=""
            />
            <small>Lakefront</small>
          </div>
          <div class="imgCover d-flex flex-column align-items-center">
            <img
              src="../images/category/78ba8486-6ba6-4a43-a56d-f556189193da.jpg"
              alt=""
              srcset=""
            />
            <small>Mansion</small>
          </div>
          <div class="imgCover d-flex flex-column align-items-center">
            <img
              src="../images/category/bcd1adc0-5cee-4d7a-85ec-f6730b0f8d0c.jpg"
              alt=""
              srcset=""
            />
            <small>Beachfront</small>
          </div>
          <div class="imgCover d-flex flex-column align-items-center">
            <img
              src="../images/category/c5a4f6fc-c92c-4ae8-87dd-57f1ff1b89a6.jpg"
              alt=""
              srcset=""
            />
            <small>OMG!</small>
          </div>
          <div class="imgCover d-flex flex-column align-items-center">
            <img
              src="../images/category/e22b0816-f0f3-42a0-a5db-e0f1fa93292b.jpg"
              alt=""
              srcset=""
            />
            <small>Adaptable</small>
          </div>
          <div class="imgCover d-flex flex-column align-items-center">
            <img
              src="../images/category/ed8b9e47-609b-44c2-9768-33e6a22eccb2.jpg"
              alt=""
              srcset=""
            />
            <small>Iconic cities</small>
          </div>
        </div>
        <div class="right">
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            class="btn btn-outline-dark d-flex justify-content-center align-items-center gap-3"
          >
            <svg
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
              style="
                display: block;
                height: 14px;
                width: 14px;
                fill: currentColor;
              "
              aria-hidden="true"
              role="presentation"
              focusable="false"
            >
              <path
                d="M5 8c1.306 0 2.418.835 2.83 2H14v2H7.829A3.001 3.001 0 1 1 5 8zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm6-8a3 3 0 1 1-2.829 4H2V4h6.17A3.001 3.001 0 0 1 11 2zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
              ></path>
            </svg>
            <small>Filters</small>
          </button>
        </div>
      </div>
      <% properties.forEach(ele=>{ %>
      <div class="properties p-2 cursor-pointer">
        <div class="property">
          <div class="fav">
            <a class="text-decoration-none" href="#">🤍</a>
          </div>
          <div class="propertyImages">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div
                onclick='window.location="/property/<%= ele._id %>"'
                class="carousel-inner"
              >
                <div class="carousel-item active">
                  <img
                    src="../images/uploads/productImages/<%= ele.pics[0] %>"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <% ele.pics.forEach((img,index)=>{ %> <% if(index !=
                ele.pics.length && index < 2){ %>
                <div class="carousel-item">
                  <img
                    src="../images/uploads/productImages/<%= ele.pics[++index] %>"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <% } %> <% }) %>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div
            onclick='window.location="/property/<%= ele._id %>"'
            class="content p-2 d-flex justify-content-between"
          >
            <div class="text">
              <p class="text-capitalize p-0 m-0"> <%= ele.title %> </p>
              <small><%= ele.propertyAddress %></small> <br />
              <small>
                Status : <span class="fw-bold"> <%= ele.status %> </span>
              </small>
              <br />
              <small> <span>₹ <%= ele.price %> /-</span> Monthly </small>
              <br />
            </div>
            <i class="ri-bookmark-line cursor-pointer fs-4"></i>
          </div>
        </div>
      </div>

      <% }) %>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script>
      function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
        const [from, to] = getParsed(fromInput, toInput);
        fillSlider(fromInput, toInput, "#C6C6C6", "#25daa5", controlSlider);
        if (from > to) {
          fromSlider.value = to;
          fromInput.value = to;
        } else {
          fromSlider.value = from;
        }
      }

      function controlToInput(toSlider, fromInput, toInput, controlSlider) {
        const [from, to] = getParsed(fromInput, toInput);
        fillSlider(fromInput, toInput, "#C6C6C6", "#25daa5", controlSlider);
        setToggleAccessible(toInput);
        if (from <= to) {
          toSlider.value = to;
          toInput.value = to;
        } else {
          toInput.value = from;
        }
      }

      function controlFromSlider(fromSlider, toSlider, fromInput) {
        const [from, to] = getParsed(fromSlider, toSlider);
        fillSlider(fromSlider, toSlider, "#C6C6C6", "#25daa5", toSlider);
        if (from > to) {
          fromSlider.value = to;
          fromInput.value = to;
        } else {
          fromInput.value = from;
        }
      }

      function controlToSlider(fromSlider, toSlider, toInput) {
        const [from, to] = getParsed(fromSlider, toSlider);
        fillSlider(fromSlider, toSlider, "#C6C6C6", "#25daa5", toSlider);
        setToggleAccessible(toSlider);
        if (from <= to) {
          toSlider.value = to;
          toInput.value = to;
        } else {
          toInput.value = from;
          toSlider.value = from;
        }
      }

      function getParsed(currentFrom, currentTo) {
        const from = parseInt(currentFrom.value, 10);
        const to = parseInt(currentTo.value, 10);
        return [from, to];
      }

      function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
        const rangeDistance = to.max - to.min;
        const fromPosition = from.value - to.min;
        const toPosition = to.value - to.min;
        controlSlider.style.background = `linear-gradient(
        to right,
        ${sliderColor} 0%,
        ${sliderColor} ${(fromPosition / rangeDistance) * 100}%,
        ${rangeColor} ${(fromPosition / rangeDistance) * 100}%,
        ${rangeColor} ${(toPosition / rangeDistance) * 100}%, 
        ${sliderColor} ${(toPosition / rangeDistance) * 100}%, 
        ${sliderColor} 100%)`;
      }

      function setToggleAccessible(currentTarget) {
        const toSlider = document.querySelector("#toSlider");
        if (Number(currentTarget.value) <= 0) {
          toSlider.style.zIndex = 2;
        } else {
          toSlider.style.zIndex = 0;
        }
      }

      const fromSlider = document.querySelector("#fromSlider");
      const toSlider = document.querySelector("#toSlider");
      const fromInput = document.querySelector("#fromInput");
      const toInput = document.querySelector("#toInput");
      fillSlider(fromSlider, toSlider, "#C6C6C6", "#25daa5", toSlider);
      setToggleAccessible(toSlider);

      fromSlider.oninput = () =>
        controlFromSlider(fromSlider, toSlider, fromInput);
      toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInput);
      fromInput.oninput = () =>
        controlFromInput(fromSlider, fromInput, toInput, toSlider);
      toInput.oninput = () =>
        controlToInput(toSlider, fromInput, toInput, toSlider);
    </script>
  </body>
</html>
